@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    background: #1f1f1f;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: hidden;

    .title-section {
        h1 {
            font-weight: 400;
            font-size: 1.25rem;
            display: inline;
            margin-left: 1em;
            margin-right: 1em;
        }

        display: flex;
        align-items: center;
        background: #2c2c2c;
        color: white;
        padding: 0.5em;
    }

    .examples {
        display: inline-block;
        position: relative;

        button svg {
            margin-left: 0.3em;
        }

        .examples-list {
            margin-top: 0.3em;
            position: absolute;
            z-index: 1;
            list-style: none;
            background: #2f2f2f;
            width: 12em;
            border-radius: 0.25em;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;
            font-size: 0.9em;

            li {
                padding: 0.75em;
                cursor: pointer;
                transition: 150ms;

                &:hover {
                    background: #353535;
                }

                &:not(&:first-child) {
                    border-top: 1px solid #464646;
                }
            }
        }
    }

    .info {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-left: auto;
        width: 2.5em;
        height: 2.5em;

        svg {
            color: #a2a2a2;
            margin: auto;
            width: 50%;
            height: 50%;
        }

        &:hover .info-content {
            opacity: 1;
            display: block;
        }

        .info-content {
            position: absolute;
            display: none;
            opacity: 0;
            background: rgba(0, 0, 0, 0.5);
            margin-top: 9.5em;
            margin-left: -9.5em;
            padding: 1em;
            border-radius: 0.25em;

            ul {
                margin-top: 0.25em;
                margin-left: 1.25em;
            }
        }
    }

    .drag-area {
        flex-shrink: 0;
        background: #1c1c1c;
        height: 5px;
        width: 100%;
        cursor: row-resize;
    }

    .console-area {
        flex-grow: 1;
        background: #1c1c1c;
        color: white;
        font-family: monospace;
        font-size: 1rem;
        padding: 1em;
        resize: none;
        border: none;
        outline: none;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .console-input {
        outline: none;
        background: #212121;
        border: none;
        border-top: 1px solid #414141;
        padding: 1em;
        color: white;
        font-size: 1.25em;
        font-family: monospace;
    }
}

button {
    font-family: "Roboto", sans-serif;
    outline: none;
    padding: 0.75em;
    border-radius: 0.25em;
    border: 1px solid #464646;
    color: white;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    transition: 100ms;

    &:disabled {
        cursor: default;
        background: rgba(255, 255, 255, 0.05);
        color: #a7a7a7 !important;
    }

    &:hover:not(&:disabled) {
        background: #3f3f3f;
    }

    &:focus {
        box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.15);
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background: #2c2c2c;
    border-radius: 5px;
}
